Library

In [1]:
import pandas as pd
import itertools
import numpy as np

In [2]:
df = pd.read_csv('diabetes.csv')

In [3]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
df.columns.tolist()

['Pregnancies',
 'Glucose',
 'BloodPressure',
 'SkinThickness',
 'Insulin',
 'BMI',
 'DiabetesPedigreeFunction',
 'Age',
 'Outcome']

In [5]:
function(df[['Age', 'BMI']]) = 0.1
dict -> {'ab': 0.1, 'abc': 2}

abc


f->
sfs
sbs
sffs

SyntaxError: invalid syntax (<ipython-input-5-49a8ac244255>, line 2)

In [ ]:
df.head(100)

In [ ]:
y = df['Outcome']
y

In [ ]:
X = df.iloc[:,:-1]
X

In [ ]:
np.corrcoef(X['BMI'], y)

In [ ]:
#sfs
ro1 = list(itertools.combinations(X, 2))
print(len(ro1))
ro1

In [ ]:
def grouping_attribute_score(attrubutes, value):
    return {"attrubute": attrubutes, "value": value}

In [ ]:
subset_score = []
subset_mean = []
for atrs in ro1:
#     print(atrs)
    temp_score_mean = []
    for i in atrs:
        cor = np.corrcoef(X[i], y)[0, 1]
        temp_score_mean.append(cor)
    subset_mean.append(np.mean(temp_score_mean)) #score
# print(subset_mean)
for atrs,mean_score in zip(ro1,subset_mean):
    subset_score.append(grouping_attribute_score(atrs, mean_score))

In [ ]:
subset_score

In [ ]:
def find_best_subset(subset_score):
    #find max value
    #still available for only a group of attributes
    print('=================================find max value=============================')
    best_subset_score = []
    current_best_score_index = (0,0)
    for subset in subset_score:
#         print('index: ', subset_score.index(subset))
#         print('current best score:', current_best_score_index[0])
#         print('current subset score', subset['value'])
        if subset['value'] > current_best_score_index[0]:
#             print('new max score')
            current_best_score_index = (subset['value'],(subset_score.index(subset)))
#             print(current_best_score_index)

    best_subset_score.append(subset_score[current_best_score_index[1]])
    print(best_subset_score)
    return best_subset_score
# return [{'attrubute': ('Glucose', 'BMI'), 'value': 0.3796380304756596}]

In [ ]:
find_best_subset(subset_score)

<h1>sdaasadad

1234

123=0.5 [234]=1
23=0.1 24=0.5 [34]= 0.6
3=0.23 4=0.05

In [ ]:
header = ['x', 'y', 'z', 'w']
header

In [ ]:
sfs = list(itertools.combinations(header, 3))
sfs

In [ ]:
#check the value
for i in range(len(sfs)):
    if all(attr in sfs[i] for attr in ('x','y')):
        print(True)
    else:
        print(False)

In [ ]:
list1 = ('x', 'y', 'z')
list2 = ('x', 'y')

result = all(attr in list1 for attr in list2)
print(result)

In [ ]:
# breast_cancer dataset
# algorithm : MI 
    
# Imbalancing