Library

In [5]:
import pandas as pd
import itertools
import numpy as np

In [6]:
df = pd.read_csv('dataset/diabetes.csv')

In [7]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [11]:
df.columns.tolist()

['Pregnancies',
 'Glucose',
 'BloodPressure',
 'SkinThickness',
 'Insulin',
 'BMI',
 'DiabetesPedigreeFunction',
 'Age',
 'Outcome']

In [13]:
# function(df[['Age', 'BMI']]) = 0.1
# dict -> {'ab': 0.1, 'abc': 2}

# # abc


# # f->
# # sfs
# # sbs
# # sffs

In [14]:
df.head(100)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
95,6,144,72,27,228,33.9,0.255,40,0
96,2,92,62,28,0,31.6,0.130,24,0
97,1,71,48,18,76,20.4,0.323,22,0
98,6,93,50,30,64,28.7,0.356,23,0
99,1,122,90,51,220,49.7,0.325,31,1

In [15]:
y = df['Outcome']
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [16]:
X = df.iloc[:,:-1]
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [17]:
np.corrcoef(X['BMI'], y)

array([[1.        , 0.29269466],
       [0.29269466, 1.        ]])

In [18]:
#sfs
ro1 = list(itertools.combinations(X, 2))
print(len(ro1))
ro1

28

[('Pregnancies', 'Glucose'),
 ('Pregnancies', 'BloodPressure'),
 ('Pregnancies', 'SkinThickness'),
 ('Pregnancies', 'Insulin'),
 ('Pregnancies', 'BMI'),
 ('Pregnancies', 'DiabetesPedigreeFunction'),
 ('Pregnancies', 'Age'),
 ('Glucose', 'BloodPressure'),
 ('Glucose', 'SkinThickness'),
 ('Glucose', 'Insulin'),
 ('Glucose', 'BMI'),
 ('Glucose', 'DiabetesPedigreeFunction'),
 ('Glucose', 'Age'),
 ('BloodPressure', 'SkinThickness'),
 ('BloodPressure', 'Insulin'),
 ('BloodPressure', 'BMI'),
 ('BloodPressure', 'DiabetesPedigreeFunction'),
 ('BloodPressure', 'Age'),
 ('SkinThickness', 'Insulin'),
 ('SkinThickness', 'BMI'),
 ('SkinThickness', 'DiabetesPedigreeFunction'),
 ('SkinThickness', 'Age'),
 ('Insulin', 'BMI'),
 ('Insulin', 'DiabetesPedigreeFunction'),
 ('Insulin', 'Age'),
 ('BMI', 'DiabetesPedigreeFunction'),
 ('BMI', 'Age'),
 ('DiabetesPedigreeFunction', 'Age')]

In [19]:
def grouping_attribute_score(attrubutes, value):
    return {"attrubute": attrubutes, "value": value}

In [20]:
subset_score = []
subset_mean = []
for atrs in ro1:
#     print(atrs)
    temp_score_mean = []
    for i in atrs:
        cor = np.corrcoef(X[i], y)[0, 1]
        temp_score_mean.append(cor)
    subset_mean.append(np.mean(temp_score_mean)) #score
# print(subset_mean)
for atrs,mean_score in zip(ro1,subset_mean):
    subset_score.append(grouping_attribute_score(atrs, mean_score))

In [21]:
subset_score

[{'attrubute': ('Pregnancies', 'Glucose'), 'value': 0.34423977567043024},
 {'attrubute': ('Pregnancies', 'BloodPressure'), 'value': 0.14348325629215974},
 {'attrubute': ('Pregnancies', 'SkinThickness'), 'value': 0.14832519247615303},
 {'attrubute': ('Pregnancies', 'Insulin'), 'value': 0.17622305395901727},
 {'attrubute': ('Pregnancies', 'BMI'), 'value': 0.25729640783921603},
 {'attrubute': ('Pregnancies', 'DiabetesPedigreeFunction'),
  'value': 0.19787110934347332},
 {'attrubute': ('Pregnancies', 'Age'), 'value': 0.2301270680305921},
 {'attrubute': ('Glucose', 'BloodPressure'), 'value': 0.2658248789286033},
 {'attrubute': ('Glucose', 'SkinThickness'), 'value': 0.2706668151125966},
 {'attrubute': ('Glucose', 'Insulin'), 'value': 0.2985646765954608},
 {'attrubute': ('Glucose', 'BMI'), 'value': 0.3796380304756596},
 {'attrubute': ('Glucose', 'DiabetesPedigreeFunction'),
  'value': 0.32021273197991684},
 {'attrubute': ('Glucose', 'Age'), 'value': 0.3524686906670357},
 {'attrubute': ('BloodPressure', 'SkinThickness'),
  'value': 0.06991029573432608},
 {'attrubute': ('BloodPressure', 'Insulin'), 'value': 0.09780815721719033},
 {'attrubute': ('BloodPressure', 'BMI'), 'value': 0.17888151109738906},
 {'attrubute': ('BloodPressure', 'DiabetesPedigreeFunction'),
  'value': 0.11945621260164638},
 {'attrubute': ('BloodPressure', 'Age'), 'value': 0.15171217128876516},
 {'attrubute': ('SkinThickness', 'Insulin'), 'value': 0.10265009340118361},
 {'attrubute': ('SkinThickness', 'BMI'), 'value': 0.18372344728138235},
 {'attrubute': ('SkinThickness', 'DiabetesPedigreeFunction'),
  'value': 0.12429814878563966},
 {'attrubute': ('SkinThickness', 'Age'), 'value': 0.15655410747275844},
 {'attrubute': ('Insulin', 'BMI'), 'value': 0.2116213087642466},
 {'attrubute': ('Insulin', 'DiabetesPedigreeFunction'),
  'value': 0.1521960102685039},
 {'attrubute': ('Insulin', 'Age'), 'value': 0.18445196895562269},
 {'attrubute': ('BMI', 'DiabetesPedigreeFunction'),
  'value': 0.23326936414870264},
 {'attrubute': ('BMI', 'Age'), 'value': 0.2655253228358214},
 {'attrubute': ('DiabetesPedigreeFunction', 'Age'),
  'value': 0.20610002434007874}]

In [22]:
def find_best_subset(subset_score):
    #find max value
    #still available for only a group of attributes
    print('=================================find max value=============================')
    best_subset_score = []
    current_best_score_index = (0,0)
    for subset in subset_score:
#         print('index: ', subset_score.index(subset))
#         print('current best score:', current_best_score_index[0])
#         print('current subset score', subset['value'])
        if subset['value'] > current_best_score_index[0]:
#             print('new max score')
            current_best_score_index = (subset['value'],(subset_score.index(subset)))
#             print(current_best_score_index)

    best_subset_score.append(subset_score[current_best_score_index[1]])
    print(best_subset_score)
    return best_subset_score
# return [{'attrubute': ('Glucose', 'BMI'), 'value': 0.3796380304756596}]

In [23]:
find_best_subset(subset_score)

=================================find max value=============================
[{'attrubute': ('Glucose', 'BMI'), 'value': 0.3796380304756596}]

[{'attrubute': ('Glucose', 'BMI'), 'value': 0.3796380304756596}]

<h1>sdaasadad

1234

123=0.5 [234]=1
23=0.1 24=0.5 [34]= 0.6
3=0.23 4=0.05

In [24]:
header = ['x', 'y', 'z', 'w']
header

['x', 'y', 'z', 'w']

In [29]:
sfs = list(itertools.combinations(header, 1))
sfs

[('x',), ('y',), ('z',), ('w',)]

In [30]:
sfs = list(itertools.combinations(header, 3))
sfs

[('x', 'y', 'z'), ('x', 'y', 'w'), ('x', 'z', 'w'), ('y', 'z', 'w')]

In [31]:
#check the value
for i in range(len(sfs)):
    if all(attr in sfs[i] for attr in ('x','y')):
        print(True)
    else:
        print(False)

True
True
False
False

In [32]:
list1 = ('x', 'y', 'z')
list2 = ('x', 'y')

result = all(attr in list1 for attr in list2)
print(result)

True

In [28]:
# breast_cancer dataset
# algorithm : MI 
    
# Imbalancing