In [25]:
#library
import pandas as pd
import numpy as np
import itertools
import seaborn as sns
import math

<H1>Dataset : Pima Indians Diabetes

In [2]:
df = pd.read_csv("../dataset/diabetes.csv")
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

<h1>Features

In [3]:
features = df.columns.tolist()[:-1]
features

['Pregnancies',
 'Glucose',
 'BloodPressure',
 'SkinThickness',
 'Insulin',
 'BMI',
 'DiabetesPedigreeFunction',
 'Age']

In [4]:
X = df[features]
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [7]:
label = 'Outcome'
label

'Outcome'

In [10]:
y = df[label]
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [11]:
num_feats = X.shape[1]
num_feats

8

<h1>Information Gain Value

<h3> Find intial Entropy 'Outcome'

In [23]:
#find intial Entropy 'Outcome'
print(y.value_counts())
p_yes_outcome = y.value_counts()[1]/len(df[label])
print('Probability Yes :', p_yes_outcome)
p_no_outcome = y.value_counts()[0]/len(df[label])
print('Probability No :', p_no_outcome)

0    500
1    268
Name: Outcome, dtype: int64
Probability Yes : 0.3489583333333333
Probability No : 0.6510416666666666

In [28]:
intial_entropy = -p_yes_outcome*math.log2(p_yes_outcome)-p_no_outcome*math.log2(p_no_outcome)
intial_entropy

0.9331343166407831